body{
    margin: 0%;
}
.Skip_color{
    color: chocolate;
}
#fond-size{
    font-size: 50px;
    padding: 0px;
    
}
.section1{
    display: flex;
    padding-bottom: 50px;
}
.half-width{
    width: 10px;
    padding-left: 15%;
}
.half-width img{
    width: 5000%;
    padding-left: 500px;
}
.order{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(orange , red);
    padding: 15px 40px 20px;
    border-radius: 20px;
}
.order1{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(orange , red);
    padding: 15px 50px 20px;
    border-radius: 20px;
}
.midle{
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-left: 0%;
    display: flex;
}
.midle image{
    width: 30px;
    height: 70px;
}
