body {
    margin: 0%;
}

.Skip_color {
    color: chocolate;
}

#fond-size {
    font-size: 50px;
    margin-bottom: -4px;
}

#div3 {
    padding-left: 80px;
    margin-top: 60px;
}

.section1 {
    display: flex;
    padding-bottom: 50px;
}

.half-width {
    width: 10px;
    padding-left: 15%;

}

.half-width img {
    width: 5000%;
    padding-left: 50px;
}

.order {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(120, 241, 96, 1) 32%, rgba(0, 212, 255, 1) 100%);
    padding: 20px 40px;
    border-radius: 10px;
}

.midle {
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-left: 0%;
    display: flex;
}

.midleimage {
    height: 80%;
    width: 50%;

}

.div4 {
    padding-left: 250px;
    padding-right: 50px;
    margin-top: 120px;
}

#textcenter {
    text-align: center;
    font-size: 25px;
}

#ctnter {
    text-align: center;
}

.section5 {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #f1f2f6;
}

.card img {
    width: 100%;
}

.card {
    width: 28%;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
}

#lastbox {
    display: flex;
    margin-left: 28%;
}

.lasttittle {
    font-size: 20px;
    margin-right: 10%;
    padding-bottom: 20px;
}

#footer {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer-span {
    color: tomato;
}

/* @media only screen and (max-width: 668px) {
    #div3 {}
} */