body{
    margin: 0%;
}
.Skip_color{
    color: chocolate;
}
#fond-size{
    font-size: 50px;
    padding: 0px;
}
#div3{
    padding-left: 80px;
}
.section1{
    display: flex;
    padding-bottom: 50px;
}
.half-width{
    width: 10px;
    padding-left: 15%;

}
.half-width img{
    width: 5000%;
    padding-left: 50px;
}
.order{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(orange , red);
    padding: 15px 40px 20px;
    border-radius: 20px;
}
.order1{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(orange , red);
    padding: 15px 40px 20px;
    border-radius: 20px;
}
.midle{
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-left: 0%;
    display: flex;
}
.midleimage{
    height: 80%;
    width: 50%;
    
}
#div4{
    padding-left: 250px;
    padding-right: 50px;
    padding-top: 60px;
}
#textcenter{
    text-align: center;
    font-size: 25px;
}
#ctnter{
    text-align: center;
}
.section5{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #f1f2f6;
}
.card img{
    width: 100%;
}
.card{
    width: 28%;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
}
#lastbox{
    display: flex;
    margin-left: 28%;
}
.lasttittle{
    font-size: 20px;
    margin-right: 10%;
}
#footer{
    color: white;
    text-align: center;
    background-color: black;
}
#footer-span{
    color: tomato;
}